In [2]:
#here series is working like an dictionary in which we can give separate index
import pandas as pd
data=pd.Series([1,2,3,4],index=['a','b','c','d'])
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
grades={'A':4,'A-':3.5,'B':3,'B-':2.5,'C':2}
data=pd.Series(grades)

marks={'A':85,'A-':80,'B':75,'B-':70,'C':65}
data1=pd.Series(marks)

In [20]:
#dataframe makes the tabular form by merging the 2 dictionary
#iloc is used to access means implicit loc

new=pd.DataFrame({'grades':data,'marks':data1})
new.iloc[2,:]
#new.values
#new.columns
#accessing columns
#new['grades']

grades     3.0
marks     75.0
Name: B, dtype: float64

In [20]:
#to add new column
new['scaledmarks']=5*(new['marks']/100)
new

    grades  marks  scaledmarks
A      4.0     85         4.25
A-     3.5     80         4.00
B      3.0     75         3.75
B-     2.5     70         3.50
C      2.0     65         3.25

In [23]:
#to delete any column
del new['scaledmarks']
new

    grades  marks
A      4.0     85
A-     3.5     80
B      3.0     75
B-     2.5     70
C      2.0     65

In [27]:
#conditions in pandas
G=new[new['grades']>3]
G

    grades  marks
A      4.0     85
A-     3.5     80

In [13]:
#filna function fills the none or nan with your desired value
#dropna tells which were the nan or none values

A=pd.DataFrame([{'a':1,'b':2},{'b':-3,'c':9}])
A.fillna(69)
A.dropna

<bound method DataFrame.dropna of      a  b    c
0  1.0  2  NaN
1  NaN -3  9.0>

In [25]:
#head gives out first 5 data
pd.head()
#describe gives sd max,min and different percents
pd.describe()
#info gives us total number of entries of each columns
pd.info()
#A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
pd.groupby()

Object `pandas.drop` not found.